@media (min-width: 1200px) {
  #duAn .wrapper_item .item {
    width: calc((100% - 54px)/4);
    margin-right: 18px;
    float: left; }
    #duAn .wrapper_item .item:nth-child(4n+4) {
      margin-right: 0; }

  #information .content_left {
    width: calc((100% - 30px)/2);
    margin-right: 30px; }
  #information .content_right {
    width: calc((100% - 30px)/2); }

  #footer #main_footer #info_footer {
    width: 547px;
    float: left;
    padding-right: 10px; }
  #footer #main_footer #danhMuc {
    width: 248px;
    float: left;
    padding-right: 10px; }
  #footer #main_footer #fanpage {
    width: calc(100% - 547px - 248px);
    float: left; }

  #dichVu .content_left, #tinTuc .content_left, #timKiem .content_left, #video .content_left {
    width: 270px;
    float: left;
    margin-top: 40px; }
  #dichVu .content_right, #tinTuc .content_right, #timKiem .content_right, #video .content_right {
    width: calc(100% - 270px);
    padding-left: 30px;
    float: right;
    margin-top: 40px; }

  #duAn .wrapper_content .content_left {
    width: 270px;
    float: left;
    margin-top: 40px; }
  #duAn .wrapper_content .content_right {
    width: calc(100% - 270px);
    padding-left: 30px;
    float: right;
    margin-top: 40px; }

  #duAn .listDuAn.wrapper_item .item {
    width: calc((100% - 36px)/3);
    margin-right: 18px;
    float: left; }
    #duAn .listDuAn.wrapper_item .item:nth-child(3n+3) {
      margin-right: 0; }

  .duAnLienQuan .listDuAn .item {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    float: left; }
    .duAnLienQuan .listDuAn .item:nth-child(3n+3) {
      margin-right: 0; }

  .duAnKhac .listDuAn .item {
    width: calc((100% - 36px)/3);
    margin-right: 18px;
    float: left; }
    .duAnKhac .listDuAn .item:nth-child(3n+3) {
      margin-right: 0; }

  #tinTuc .itemFirst .left {
    width: 694px;
    margin-right: 20px;
    float: left; }
  #tinTuc .itemFirst .right {
    width: calc(100% - 694px - 20px);
    float: left; }
  #tinTuc .itemSecond .listTin .item {
    width: calc((100% - 129px)/4);
    margin-right: 43px;
    float: left; }
    #tinTuc .itemSecond .listTin .item:nth-child(4n+4) {
      margin-right: 0; }

  #timKiem .container .row {
    padding-top: 36px; }
  #timKiem .wrapper_item .item {
    width: calc((100% - 54px)/4);
    margin-right: 18px;
    float: left; }
    #timKiem .wrapper_item .item:nth-child(4n+4) {
      margin-right: 0; }

  #video .listVideo .item {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    float: left; }
    #video .listVideo .item:nth-child(3n+3) {
      margin-right: 0; } }
@media (max-width: 1199px) {
  #duAn .wrapper_item .item {
    width: calc((100% - 36px)/3);
    margin-right: 18px;
    float: left; }
    #duAn .wrapper_item .item:nth-child(3n+3) {
      margin-right: 0; }

  #information .content_left {
    width: calc((100% - 30px)/2);
    margin-right: 30px; }
  #information .content_right {
    width: calc((100% - 30px)/2); } }

/*# sourceMappingURL=responsive.css.map */