.fl {
    float: left;
}

.fr {
    float: right;
}

.clr {
    clear: both;
}

.clr-l {
    clear: left;
}

.clr-r {
    clear: right;
}

.active_menu {
    background: url('images/background_menu.png') center no-repeat;
}

.mCSB_dragger_bar {
    background: url(images/scroll.png) center no-repeat !important;
}

.bx-wrapper {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#header .bottom_header #menu>ul>li ul li:hover+li a {
    border-top: 0;
}

#register .middle_register span input::-webkit-input-placeholder {
    color: #fff;
}

#register .middle_register span input:-ms-input-placeholder {
    color: #fff;
}

#register .middle_register span input::placeholder {
    color: #fff;
}

#CommonCuoiChiTietTin {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    padding-top: 0;
    background: #f7f7f7;
    border-top: solid 1px #eaeaea
}

#CommonCuoiChiTietTin div.fr .addthis_toolbox .facebook_button {
    height: 18px;
}

#CommonCuoiChiTietTin div.fr .addthis_toolbox #___plus_0 td {
    display: none;
}

#bottom_footer .row1_bottom_footer>span>p {
    margin: 0;
}

#menu_responsive .click_menu {
    padding-left: 0 !important;
}

#menu_responsive .click_menu a {
    padding-left: 22px !important;
}

#menu_responsive .click_menu .sub_menu_respon {
    position: static !important;
}

#bottom_footer .container .row .row1_bottom_footer span p {
    position: relative;
}

#CommonCuoiChiTietTin div:first-of-type a {
    float: left;
}

#CommonCuoiChiTietTin .addthis_toolbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#map_canvas,
#map_canvas2 {
    height: 100%;
    width: 100%;
}

.mapborder {
    padding: 3px;
    height: 100%
}

.infoBox {
    background: #fff;
    border: solid 1px #dfdfdf;
    padding: 10px;
    width: 300px;
}

@media (min-width: 1220px) {
    #bottom_footer .container .row .row1_bottom_footer span p :after {
        background: url(../css/images/background_tatthanh.png) no-repeat center right;
        content: "";
        display: block;
        height: 9px;
        position: absolute;
        right: -1px;
        top: 40%;
        width: 1px;
    }
    #menu_responsive {
        display: none !important;
    }
    #CommonCuoiChiTietTin>div.fl.apd.dnmb {
        -ms-flex-line-pack: center;
        align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        line-height: 29px;
        width: 50%;
    }
    #CommonCuoiChiTietTin>div.fr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 50%;
    }
    #CommonCuoiChiTietTin>div.fr .addthis_toolbox {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        min-height: 100%;
        width: 50%;
    }
}

@media (max-width: 1220px) {
    #bottom_footer .row1_bottom_footer span i,
    em {
        display: none;
    }
    .lb-outerContainer {
        width: 670px!important;
        height: 450px!important;
    }
    .lightbox .lb-image {
        height: 100%!important;
        width: 100%!important;
        border: 0!important;
    }
    .lb-data .lb-close {
        margin-top: -545px;
        position: relative;
        padding-left: 100px;
    }
    .lb-data .lb-close::before {
        content: 'ĐÓNG LẠI';
        position: absolute;
        top: 12px;
        left: 0;
        color: #fff;
        font-size: 13px;
    }
    .lb-data .lb-caption {
        height: 53px;
        font-family: 'sfu_futuraheavy';
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 23px;
        color: #744c28;
        line-height: 53px!important;
        background: #fff;
        display: inline-block;
        width: 100%;
    }
    .lb-data .lb-details {
        width: 100%!important;
    }
    .lb-dataContainer {
        padding-top: 0!important;
    }
    .lb-outerContainer {
        border: 4px solid rgba(0, 0, 0, .6);
        border-bottom: 0;
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
    .lb-dataContainer {
        border: 4px solid rgba(0, 0, 0, .6);
        border-top: 0;
        border-radius: 4px;
        border-top-left-radius: 0!important;
        border-top-right-radius: 0!important;
        height: 65px;
        background: #fff;
    }
}

@media (min-width: 768px) and (max-width: 1999px) {
    .thongke {
        height: auto;
    }
    #main_footer .container .right_main_footer .tripadvisor {
        top: 306px !important;
    }
    #CommonCuoiChiTietTin>div.fl.apd.dnmb {
        -ms-flex-line-pack: center;
        align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        line-height: 29px;
        width: 100%;
    }
    #CommonCuoiChiTietTin>div.fr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: 50%;
    }
    #CommonCuoiChiTietTin>div.fr .addthis_toolbox {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        min-height: 100%;
        width: 50%;
    }
    .thongke .thongke_ngay {
        margin-right: 10px;
    }
    .cochu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media (max-width: 767px) {
    .lb-outerContainer {
        width: 100%!important;
        height: 280px!important;
    }
    .lb-container {
        height: 100%;
    }
    .lb-data .lb-close {
        margin-top: -375px;
    }
    #CommonCuoiChiTietTin>div.fl.apd.dnmb {
        -ms-flex-line-pack: center;
        align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        line-height: 29px;
        width: 100%;
        padding-bottom: 0px;
    }
    .thongke {
        height: auto!important;
    }
    .thongke .thongke_ngay {
        margin-right: 10px;
        width: 100%;
    }
    .thongke .thongke_luotxem {
        margin-left: 8px;
        width: 100%;
    }
    .thongke .cochu {
        float: none;
    }
    #bottom_footer .container .row .row1_bottom_footer span p {
        width: 100%;
    }
    #bottom_footer .container .row .row1_bottom_footer span p span {
        display: none;
    }
    #CommonCuoiChiTietTin div:nth-of-type(2) {
        margin: 5px 0;
        width: 100%;
    }
    #CommonCuoiChiTietTin .addthis_toolbox {
        display: flex;
        float: left;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
    }
    #CommonCuoiChiTietTin {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto !important;
        min-height: 100%;
    }
    #CommonCuoiChiTietTin>div.fl.apd.dnmb div.fr.pl20.apd.dnmb {
        float: none !important;
    }
    /*
    #CommonCuoiChiTietTin > div.fr {
        width: 100%!important;
    }
    #CommonCuoiChiTietTin .fl.apd.dnmb {
    width: 100%!important;
}
*/
}


/*=
    -webkit-transform:translate(-50%,-50%)===============Các thông số mặc định để ở phần khung ảnh================*/

.khungAnh {
    position: relative;
    z-index: 1
}

.khungAnh:before {
    content: "";
    display: block;
}

.khungAnhCrop,
.khungAnhCrop0 {
    display: inline-block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}


/*================Trường hợp ảnh lọt trong khung================*/

.khungAnhCrop0 img {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.khungAnhCrop0 img {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*transform phải viết thêm cho các trình duyệt cũ*/


/*================Trường hợp ảnh tràn lề khi chưa gắn class xác định ảnh dạng ngang hay dọc================*/

.khungAnhCrop img {
    left: 50%;
    max-height: 150%;
    max-width: 150%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.khungAnhCrop img {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}


/*Ảnh ngang (width > height) --> gắn height 100%, width sẽ bị lấp hai bên*/

.khungAnhCrop img.wide {
    height: 100%;
    max-width: none
}


/*Ảnh dọc (width < height) --> gắn width 100%, height sẽ bị lấp phần trên dưới*/

.khungAnhCrop img.tall {
    max-height: none;
    width: 100%;
}


/*================Hiệu ứng zoom ảnh khi hover================*/


/*

.khungAnhCrop img,
.khungAnhCrop0 img {
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s
}

.khungAnhCrop:hover img {
    transform: translate(-50%, -50%) scale(1.1)
}

.khungAnhCrop:hover img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1) border:0;
}

.khungAnhCrop0:hover img {
    transform: translateY(-50%) scale(1.1)
}

.khungAnhCrop0:hover img {
    -webkit-transform: translateY(-50%) scale(1.1);
    -moz-transform: translateY(-50%) scale(1.1);
    -o-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1)
}
*/


/*----*/


/*=====================================================================================================================*/

.thongke {
    background: #f7f7f7;
    border-top: 1px solid #eaeaea;
    color: #999;
    font-size: 13px;
    height: 14px;
    margin: 10px 0 20px 0
}

.thongke_ngay {
    background: url(images/common/date.png) no-repeat left top 2px;
    color: #999;
    float: left;
    line-height: 14px;
    margin-left: 10px;
    padding-left: 20px;
    background-size: 10px 10px;
}

.thongke_luotxem {
    background: url(images/common/view.png) no-repeat left center;
    color: #999;
    float: left;
    line-height: 14px;
    margin-left: 20px;
    padding-left: 20px;
    background-size: 13px 7px;
}

.cochu {
    float: right
}

.thongke .cochu a {
    color: #999;
    display: block;
    float: left;
    margin-left: 3px;
    text-decoration: none;
}

.NormalSize {
    line-height: 25px;
    margin-right: 10px
}

.SmallSize {
    background: #efefef url(images/common/tru.png) no-repeat center;
    height: 25px;
    width: 25px;
}

.LargeSize {
    background: #efefef url(images/common/cong.png) no-repeat center;
    height: 25px;
    width: 25px;
}

#CommonCuoiChiTietTin {
    color: #999;
    font-size: 13px;
    height: 30px;
    margin: 20px 0 25px 0;
    overflow: hidden;
    padding-top: 5px;
    padding-top: 0;
    position: relative;
    z-index: 3;
}

#CommonCuoiChiTietTin .fl.apd.dnmb {
    padding-left: 5px
}

#CommonCuoiChiTietTin a {
    display: inline-block;
    font-size: 13px !important
}

#CommonCuoiChiTietTin .apd a {
    color: #999;
    display: inline-block;
    margin-right: 20px;
    padding-left: 20px;
    text-decoration: none;
}

#CommonCuoiChiTietTin .apd a:hover {
    color: #07173b
}

#CommonCuoiChiTietTin a.prevDBT {
    background: url(images/common/trove.png) no-repeat left top 12px
}

#CommonCuoiChiTietTin a.email {
    background: url(images/common/email_ct.png) no-repeat left center
}

#CommonCuoiChiTietTin a.email span {
    display: none
}

#CommonCuoiChiTietTin a.print {
    background: url(images/common/intrang.png) no-repeat left center
}

#CommonCuoiChiTietTin .shareItem {
    display: inline-block;
    height: 20px;
    position: relative;
    top: 2px;
    z-index: 1;
}

#CommonHoTroCuoiBaiViet {
    padding: 20px 0
}

#CommonHoTroCuoiBaiViet a {
    background: #e95d0b;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 22px;
    text-transform: uppercase;
}

#CommonCuoiChiTietTin .fl {
    float: left
}

#CommonCuoiChiTietTin .fr {
    float: right
}

#CommonCuoiChiTietTin .cb {
    clear: both
}

#CommonCuoiChiTietTin .pr20 {
    padding-right: 20px
}

.fb-like {
    top: -3px
}


/*========================================PHÂN TRANG==================================*/

#phantrang {
    clear: both;
    overflow: hidden;
}

.SplitPages {
    float: left
}

.SplitPages a {
    background-color: white;
    border: 1px solid #ddd;
    color: #666;
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-bottom: 5px;
    margin-right: -1px;
    text-align: center;
    text-decoration: none;
}

.SplitPages .trangkhac,
.hientai,
.bacham {
    width: 32px
}

.SplitPages .dau,
.truoc,
.sau,
.cuoi {
    padding: 0px 15px
}

.SplitPages .dau {
    border-radius: 3px 0 0 3px
}

.SplitPages .cuoi {
    border: 1px solid #ddd;
    border-radius: 0 3px 3px 0
}

.SplitPages .hientai,
.SplitPages a:hover {
    background-color: #01b7f2;
    border-color: #01b7f2;
    color: white
}

#phantrang span {
    color: #666;
    float: right;
    line-height: 34px;
}


/*===================================ZOOM IMAGE===========================================================*/


/* .lb-outerContainer{
    width: 670px!important;
    height: 450px!important;

}
.lightbox .lb-image{
    height: 100%!important;
    width: 100%!important;
    border: 0!important;
}
.lb-data .lb-close{
    margin-top: -545px;
    position: relative;
padding-left: 100px;
}
.lb-data .lb-close::before{
content: 'ĐÓNG LẠI';
position: absolute;
top: 12px;
left: 0;
color: #fff;
font-size: 13px;
}
.lb-data .lb-caption{
    height: 53px;
    font-family: 'sfu_futuraheavy';
    font-size: 14px;
    text-transform: uppercase;
    padding-left:23px ;
    color: #744c28;
    line-height: 53px!important;
    background: #fff;
    display: inline-block;
    width: 100%;
}
.lb-data .lb-details{width: 100%!important;}
.lb-dataContainer{
    padding-top: 0!important;
}
.lb-outerContainer{border:4px solid rgba(0,0,0,.6);
    border-bottom: 0;
border-bottom-left-radius:0!important;
border-bottom-right-radius:0!important;
}
.lb-dataContainer{
    border:4px solid rgba(0,0,0,.6);
    border-top: 0;
    border-radius: 4px;
border-top-left-radius:0!important;
border-top-right-radius:0!important;
height:  65px;
background: #fff;
} */


/*COMMENT FORM*/

binhluan_form {
    background: url(../css/images/common/line_bottom.png) repeat-x bottom;
    padding-bottom: 20px;
}

.binhluan_form .title {
    font-family: robotoregular;
    font-weight: bold;
    font-size: 20px;
    line-height: 39px;
    text-transform: uppercase;
    color: #744c28;
}

.binhluan_form .form {
    height: auto;
    min-height: 100%;
    overflow: hidden;
}

.binhluan_form input {
    height: 35px;
    line-height: 35px;
    border: 1px solid #e6e2e2;
    background: #fafafa;
    padding: 0 11px;
    width: 100%;
    margin-bottom: 7px;
    float: left;
}

.binhluan_form textarea {
    border: 1px solid #e6e2e2;
    background: #fafafa;
    padding: 11px;
    width: 100%;
    min-height: 62px;
    margin-bottom: 7px;
}

.binhluan_form input::-webkit-input-placeholder,
.binhluan_form textarea::-webkit-input-placeholder {
    color: #333333;
}

.binhluan_form input:-ms-input-placeholder,
.binhluan_form textarea:-ms-input-placeholder {
    color: #333333;
}

.binhluan_form input::placeholder,
.binhluan_form textarea::placeholder {
    color: #333333;
}

.binhluan_form input.hoten {
    width: calc(306/850*100%);
}

.binhluan_form input.email {
    width: calc(312/850*100%);
    margin-left: 7px;
}

.binhluan_form input.code {
    width: calc(106/850*100%);
    margin-left: 7px;
}

.binhluan_form img {
    height: 26px;
    width: 69px;
    float: left;
    margin-left: 7px;
    margin-top: 4px;
}

.binhluan_form a.refresh {
    float: right;
    background: url(../css/images/common/refresh_icon.png) center center no-repeat;
    width: 22px;
    height: 35px;
    margin-right: 3px;
}

.binhluan_form a.submit {
    height: 30px;
    line-height: 30px;
    padding: 0 23px;
    border-radius: 3px;
    background: #ffa03b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    float: right;
    cursor: pointer;
    margin: 7px 0 20px 0;
    display: inline-block;
    font-family: open_sansbold;
}

.hoi_dap .item_box {
    background: url(/images/common/line_bottom.png) repeat-x bottom;
    padding-bottom: 20px;
}

.hoi_dap .item_box div.item_title {
    font-family: "open_sansbold";
    color: #333;
}

.hoi_dap .item_box div.content {
    font-family: 'open_sansregular';
    color: #333;
}

.hoi_dap .item_box span.tl {
    color: #333;
    font-family: 'open_sansregular';
}

.hoi_dap .item_box.checked {
    background: none;
    padding-bottom: 0;
}

.hoi_dap .item_title .name {
    font-family: SegoeUIBold;
    line-height: 24px;
    padding-top: 10px;
}

.hoi_dap .item_title .content {
    line-height: 22px;
}

.hoi_dap .item_description {
    background: #fafafa;
    border: 1px solid #e6e2e2;
    padding: 15px 15px 50px;
    margin-top: 5px;
}

.hoi_dap .item_description .name {
    font-family: SegoeUIBold;
    line-height: 24px;
    font-size: 14px;
    color: #e91e1e;
}

.hoi_dap .item_description .name span {
    display: inline-block;
    background: #f3aeae;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    height: 16px;
    line-height: 16px;
    padding: 0 7px;
    font-size: 10px;
    margin-left: 5px;
}

.hoi_dap .item_description .content div {
    font-family: 'open_sansregular';
    color: #333;
}

.hoi_dap span.tl {
    font-size: 12px;
    line-height: 24px;
    color: #e91e1e;
}

.hoi_dap span.time {
    font-size: 12px;
    line-height: 24px;
    color: #a19988;
    margin-left: 8px;
}

.hoi_dap a.read_more {
    display: block;
    font-size: 16px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-family: open_sansbold;
    text-align: center;
    border-radius: 4px;
    background: #f89f1d;
    margin-top: 20px;
    cursor: pointer;
}